1. ѕри открытии двери холодильника включаетс€ освещение.
2. ѕри закрытии двери холодильника выключаетс€ освещение.
3. ≈сли дверь холодильника открыта, то не более, чем через OPEN_DOOR_TIME_LIMIT миллисекунд, подаетс€ сигнал, если за это врем€ пользователь не закроет дверь.
4. ≈сли дверь холодильника только что открыта, сигнал будет подан не менее, чем через OPEN_DOOR_TIME_LIMIT миллисекунд.
5. ≈сли температура в холодильнике превышает максимальную, включаетс€  компрессор.
