1. Если двигатель выключен (ignition = False), нажата кнопка запуска двигателя (s1[onOffButton] = NOT_PRESSED и s2[onOffButton] =PRESSED) и охлаждающей жидкости достаточно (liquidLevel = HIGH), включается зажигание (ignition = True).
2. Если двигатель не запущен (ignition = False) и охлаждающей жидкости недостаточно (liquidLevel = LOW), двигатель не запускается (ignition = False).
3. Если двигатель не запущен (ignition = False) и кнопка запуска не нажата (onOffButton = NOT_PRESSED), то двигатель не запустится (ignition = False).
4. Если двигатель включен (ignition = True) и охлаждающего агента достаточно (liquidLevel = HIGH), то он не выключится по крайней мере в течение времени WARN_LIQUID_LACK_TIMEOUT или пока не не нажмут на кнопку выключения (s1[onOffButton] = NOT_PRESSED и s2[onOffButton] = PRESSED). 
5. Если двигатель не запущен (ignition = True), звуковой сигнал не подавался (sound = False) и не выполняется попытка запустить двигатель при недостатке охлаждающего агента, то звуковой сигнал не подается (sound = False).
6. При работающем двигателе звуковой сигнал не подается, если охлаждающей жидкости достаточно.
7. Если охлаждающей жидкости недостаточно (liquidLevel = LOW), то двигатель выключится (ignition = False), не позднее , чем через время WARN_LIQUID_LACK_TIME, если за это время не добавят охлаждающую жидкость (liquidLevel = HIGH).
8. Если двигатель включен (ignition = True), и скорость движения не высока (speed = LOW), то при нажатии кнопки выключения (s1[onOffButton] = NOT_PRESSED и s2[onOffButton] = PRESSED) двигатель выключается (ignition = False)
9. Если двигатель включен (ignition = True) и скорость движения высока (speed = HIGH), то двигатель может выключиться только в одном из следующих случаев: 1) система охлаждения была отключена в течение времени WARN_LIQUID_LACK_TIMEOUT в связи с недостатком охлаждающего агента, 2) кнопка выключения была нажата в течение 3 секунд.
10. Если двигатель включен (ignition = True) и нажата кнопка выключения (s1[onOffButton] = False и s2[onOffButton] = True), то двигатель выключится (ignition = False) не позднее, чем через 3 секунды, если до выключения двигателя будет удерживаться кнопка выключения (onOffButton = PRESSED).
11. Если охлаждающего агента недостаточно (liquidLevel = LOW) при попытке завести двигатель (ignition = False, s1[onOffButton] = NOT_PRESSED и s2[onOffButton] = PRESSED) подается звуковой сигнал.
a Продолжительность сигнала составляет не более 1 секунды, если за это время не будет выполнена повторная попытка запуска двигателя при недостатке охлаждающего агента.
b. Сигнал подается по крайней мере в течение 1 секунды или пока двигатель не запустится.
12. Если двигатель запущен (ignition = True), охлаждающей жидкости достаточно (liquidLevel = HIGH) и температура превышает предельное значение (Thigh = True), то открыт клапан радиатора охлаждения (valve = True).
