1. Запрещена одновременная подача сигналов open и close..
2. Открытие дверей начинается (s1[open] = False и s2[open]= True) только при нажатии кнопки открывания водителем (s1[openCloseButton] = NOT_PRESSED и s2[openCloseButton] = PRESSED).
3. сли во время закрытия дверей (s1[close] = True и s2[closed] = False и s2[opened] = False) обнаружено препятствие (antiClamp = DETECTED), не позднее,чем через 100 миллисекунд выполняется открытие дверей )open = True).
4. Открытие всегда выполняется полностью (Если выполнялось открытие (open = True)и двери не открыты (opened = False), то открытие продолжается (open = True)).
5. Если дверь открылась (s1[open] = True и s2[opened] = True) в результате в результате неудачной попытки закрытия (s1[close] = True и s2[closed] = False и s2[opened] = False и s2[antiClamp] = DETECTED), то повторная попытка закрытия  не выполняется по крайней мере в течение времени CLOSING_ATTEMPTS_INTERVAL или пока система не перейдет в аварийный режим.
6. Если двери не открыты, при нажатии кнопки запроса остановки (requestStopButton = PRESSED), подается звуковой сигнал водителю (signal = True).
