1. Если при открытой двери нажата кнопка запуска стирки, то включается блокировка замка двери
2. Если только что подан сигнал блокировки двери, то после срабатывания замка начнется подача воды и включается вращение 
3. Подача воды начинается только при закрытой двери (Если подача воды не включена и замок двери не заблокирован, то подача воды не начнется)
4. Подача воды продолжается, пока бак не заполнен
5. После наполнения бака выключается подача воды и включается индикатор стирки
6. Если стирка только что началась, то она продолжается  a) не более 30 мин, b) не менее 30 мин.
7. После завершения стирки выполняется слив жидкости
8. Слив воды продолжается, пока бак не пуст
9. После слива воды закрывается клапан слива воды и разблокируется дверь
10. Если дверь не закрыта, барабан не вращается
11. Если только что подан сигнал блокировки двери, то вращение не начнется и не начнется подача воды, пока не сработает блокировка замка
12. Запрещена одновременная подача сигналов left и right
13 a. Если только что включилось вращение, то не более, чем через минуту оно отключится.
Если только что включилось вращение, то оно не отключится по крайней мере в течение минуты или пока не будет выпущена вода.
Если вращение только что выключилось, то после остановки вращения должно включиться вращение в противоположную сторону, если к этому времени вода не была выпущена полностью

