1)  Если горел красный свет и кнопку нажали, то не более, чем через Tr загорится зеленый свет
2)  Если только что загорелся зеленый, то зеленый будет гореть не менее Tg секунд.
3)  Если только что загорелся зеленый, то за время не более Tg+Т3 он переключится на красный
4)  Если только что загорелся красный, то он горит постоянно, пока не нажмут на кнопку
5)  Если загорелся красный, то красный будет гореть не менее Tr секунд