1. Если багажная лента выключена (engine = False), кнопка включения нажата (startButton = PRESSED), на ленте отсутствует тяжелый багаж и багаж не застрял, багажная лента включается (engine = True).
2. Если багажная лента включена (engine = True) и обнаружено застревание багажа (stuck = True) или слишком тяжелый багаж (weight = HIGH), то багажная лента выключается (engine = False).
3. Если багаж отсутствует (pSensor = NOT_DETECTED), то багажная лента выключится не позднее, чем через время IDLE_TIMEOUT, если за это время не появится багаж (pSensor = DETECTED).
4. Если багажная лента включена и багаж присутствует (pSensor = DETECTED), багажная лента не выключится по крайней мере в течение времени IDLE_TIMEOUT, пока багаж не застрянет (stuck = True), или пока не будет обнаружен слишком тяжелый багаж (weight = HIGH).
