1. Пока требуемая температура не достигнута, крышка заблокирована.
2. При достижении заданной температуры ТЭН отключается.
3. ТЭН включается при понижении температуру воды более, чем на 5 градусов   ниже заданной.
4. При нажатии одной из кнопок выбора температурного режима выбирается соответствующая требуемая температура.
5. Блокировка автоматического кипячения воды привключении термолота  в сеть. (Если кнопка кипячения не нажата, то нагрев не включится.)

