1. После получения сигнала о проходе пользователя PdOut турникет должен быть закрыт не более, чем через 1 секунду
2. Если турникет был закрыт и оплата не выполнена, то он не откроется, пока не будет выполнена оплата.
3. После появления с монетоприемника сигнала получения оплаты payed немедленно должен быть сформирован сигнал открытия турникета open.
4. Сигнал open должен быть в состоянии true не более 10 секунд.
5. Сигнал open должен быть в состоянии true не менее 1 секунды.
6. После появления сигнала opened и до его снятия должен гореть светодиод enter.
7. После запрета прохода должен быть разрешена работа монетоприемника
