1. Если бак наполнен (s1[iFillTank] = True и s2[iHighLevel] = True), то не позднее, чем через 200 миллисекунд клапан наполнения бака закрывается и включается стерилизация (oSteam = True).
2. Если в баке есть жидкость (iLowLevel), стерилизатор включен (oSteam = True) и необходимая температура не достигнута (iHighTemp = False), стерилизатор не выключается ( oSteam = True).
3. Если бак наполнен (s1[iFillTank] = True и s2[iHighLevel] = True), то после достижения необходимой температуры в стерилизаторе (iHighTemp = True) стерилизатор должен работать в течение 1 минуты.
4. Если бутылка наполнена (s1[oFillBottle] и s2[iBottleLevel] = True), то не позднее, чем через 20 миллисекунд открывается клапан наполнения бака (oFillTank = True), если в баке отсутствует жидкость (iLowLevel = False).
5. Если клапан наполнения бака открыт (oFillTank = True) и бак не наполнен (iHighLevel = False), то клапан не закрывается (oFillTank = True).
6. Если бутылка наполнена (s1[oFillBottle] и s2[iBottleLevel] = True), то не позднее, чем через 300 миллисекунд включается конвейер (oConveyor = True) для транспортирования следующей бутылки, если в баке не закончилась жидкость (iLowLevel = False).
7. Если следующая бутылка не доставлена (oConveyor = True и iBottlePosition = False), клапан наполнения бутылок не открывается (iBottleFilling = False).
8. Наполнение бутылки выполняется полностью (Если клапан наполнения бутылок открыт (oFillBottle = True), бутылка не наполнена (iBottleLevel = False и в баке присутствует жидкость (iLowLevel = True), то клапан не закрывается (oFillBottle = True)).
