1) Тепловентилятор должен включиться за время, приемлемое с точки зрения пользователя (не позже 0.2 секунды), после того, как под ним появляются руки. 
2) Тепловентилятор никогда не включается произвольно (Если нет рук и тепловентилятор не включен, то он не включится до тех пор, пока не появятся руки). 
3) Если руки убрали, то не более чем через 1 с тепловентилятор выключится, если руки за это время не появились вновь. 
4) Если руки имеются и тепловентилятор включен, он не выключится. 
5) Время непрерывной работы тепловентилятора не более часа