1. Запрещена одновременная подача сигналов up иdown.
2. движение спинки вниз возможно только в том случае, если нажата кнопка опускания и спинка не находится в нижнем положении.
3. Если кресло не включено, движение спинки невозможно.
4. Если кресло только что включено и кнопка роликового массажа не нажата, то роликовый массаж не включается.
5. Если нажата кнопка включения роликового массажа и кресло включено, то включается роликовый масаж.
6. Продолжительность массажа составляет не более MASSAGE_TIME, если за это время не будет нажата кнопка запуска нового сеанса массажа.
7. Если кресло было включено и кнопка выключения была нажата по крайней мере в течение 1 секунды, то при ее отпускания останавливаются функции массажа.
8. Если кресло было включено и кнопка выключения была нажата по крайней мере в течение 1 секунды, то при ее отпускания спинка приводится в вертикальное положение.
