1. При включении водонагревателя (s1[switch] = False и s2[switch] = True), включается подача воды (intake = True).
2. сли выполнялась подача воды (intake = True), максимальный уровень воды не достигнут (maxLevel = False) и водонагреватель не выключили (switch = True), подача воды продолжается (intake = True).
3. Если максимальный уровень воды достигнут (maxLevel = True), подача воды выключается (intake = False).
4. Если подача воды не выполнялась (intake = False), водонагреватель включен (switch = True) и уровень воды снизился ниже минимального (minLevel = False), включается подача воды (intake = True).
5. Если в баке отсутствует вода (waterPresence = False), ТЭН не включен (heater = False).
6. Если водонагреватель включен (switch = True), в баке появилась вода (s1[waterPresence] = False и s2[waterPresence] = True), и ее температура ниже максимальной (maxTemp = False), включается ТЭН (heater = True).
7. Если ТЭН был выключен (heater = False), водонагреватель включен (switch = True), в баке есть вода (waterPresence = True) и температура ниже минимальной (minTemp = False), то включается ТЭН (heater = True).
8. Если ТЭН включен (heater = True), он не выключится, пока не будет достигнута максимальная температура (maxTemp = True), пока в баке не закончится вода (waterPresence = False), или пока не выключат водонагреватель (switch = False).
