<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.nsk.su/iae/rpl/RPL"
			class = "su.nsk.iae.rpl.rPL.RPLPackage"
			genModel = "model/generated/RPL.genmodel" />
	</extension>
</plugin>
