1. Запрещена одновременная подача сигналов up и down.
2. Шлагбаум не закрывается, если под ним находится машина.
3. Если шлагбаум только что закрылся, он не откроется, пока не появится машина.
4. Если шлагбаум открыт (горит зеленый свет), то не позднее, чем через 10 минут будет подан сигнал закрытия, если за это время перед шлагбаумом или под шлагбаумом не появится машина.
5. Если перед шлагбаумом появилась машина, и шлагбаум не открыт, то подается сигнал открытия.
6. Если шлагбаум только что открылся (загорелся зеленый свет), то сигнал закрытия не будет подан по крайней мере в течение 10 минут.
7. Если под шлагбаумом находится машина, сигнал закрытия не подается по крайней мере в течение 10 минут.
8. Если во время закрытия шлагбаума обнаружено препятствие, выполняется его открытие.
9. Открытие всегда выполняется полностью.
10. Если шлагбаум открыт и появилась машина, сигнал закрытия не подается по крайней мере в течение 10 минут.
11. Во время открытия и закрытия шлагбаума горит красный свет.
12. Красный и зеленый не горят одновременно.

