1. Никакая из ламп не включается ночью.
2. В утреннее, дневное и вечернее время, если обнаружено движение пользователя и освещение недостаточное, то включается освещение и остается включенным по крайней мере в течение 5 минут или пока не наступит ночь.
3. Утром в определенное время включается лампа приглушенного света и горит по крайней мере в течение 30 минут.
4. Днем лампа приглушенного света выключена.
5. Вечером лампа дневного света выключена.
6. Две лампы не горят одновременно.
7. Если движение отсутствует, то освещение выключится не позднее, чем через 35 минут, если за это время не появится движение.
8. Если движение только что прекратилось, освещение выключится не позднее, чем через 5 минут, если за это время не появится движение и не наступит утро.