1. Если торговый автомат перешел из режима ожидания в режим выбора товара, товар не будет выдан, пока не будет нажата кнопка выбора соответствующего товара.
2. Выдача товара не начинается, пока не будет внесена достаточная сумма.
3. Если торговый автомат находился в режиме выбора товара, нажата кнопка выбора товара, не нажата кнопка отмены, и внесенная сумма является недостаточной, то монетоприемник будет открыт и будет гореть индикатор режима добавления денег, пока не будет внесена достаточная сумма или пока не будет нажата кнопка отмены.
4. Если только что выдан товар и на счете остались деньги, то не позднее, чем через 200 миллисекунд подается сигнал выдачи сдачи.
5. В режиме ожидания монетоприемник открыт.
6. В режиме ожидания на счете отсутствую деньги.
7. Если монетоприемник не заблокирован, при внесении денег счет увеличивается на внесенную сумму.
8. При выдаче товара сумма н счете уменьшается на стоимость товара.
9. Если товар не выдан, то не позднее, чем через 100 миллисекунд торговый автомат предлагает выбрать другой товар.
10. Во время выдачи товара монетоприемник заблокирован.
11. Два товара не выдаются одновременно.