1. Лента эскалатора начинает движение при появлении пользователей.
2. Если пользователи отсутствуют, то не более, чем через DELAY секунд 
 лента эскалатора прекращает движение, если  пользователи за это время 
 не появились вновь.
3. Если есть пользователь, эскалатор двигался и тревожная кнопка не нажата, то эскалатор продолжит движение в том же направлении.
4. При попадании предметов между ступенями движение прекращается 
 не менее, чем на SUSPENSION_TIMEсекунд.
5. При нажатии тревожной кнопки движение должно прекратиться за приемлемое время (не позже 0.2 секунды).


